:root {
    --header-font-size: 76px;
    --post-title-font-size: 48px;

    --nav-link-font-size: 18px;

    --page-background-color: #191919;

    --font-color: #ededed;

    --link-color: white;
    --link-hover-color: #bbbbbb;
    --link-visited-color: #999999;
    --link-active-color: #c9c9c9;

    --nav-link-color: #fac73a;
    --nav-link-hover-color: #fac73a;
    --nav-link-visited-color: #fac73a;
    --nav-link-active-color: #fac73a;

    --quote-color: #999999;
    --table-striped-color: #1f1f1f;
    --table-border-color: #666666;

    --content-vertical-margin: 16px;
}

body {
    background-color: var(--page-background-color);
    color: var(--font-color);
    text-align: left;
    font-family: sans-serif;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin: 0px auto 0px;
    max-width: 1080px;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

a:active {
    color: var(--link-active-color);
}


.post-title {
    text-align: left;
    font-size: var(--post-title-font-size);
    color: #f54e25;
    margin: 32px 0px 8px;
}

.post-time {
    text-align: left;
    color: var(--quote-color);
    margin: 8px 0px;
}

.post-tags {
    text-align: left;
    color: var(--quote-color);
    margin: 8px 0px;
}

.post-heading {
    text-align: left;
}

.post-subheading {
    text-align: left;
}

.figure {
    margin: var(--content-vertical-margin) auto;
    padding: 8px 8px;
    text-align: center;
    box-shadow: 2px 2px 8px #000000;
    border: 1px solid var(--table-border-color);
    max-width: 1200px;
}

.figure-img {
    width: 400px;
    height: 300px;
    margin: 0px 0px;
}

.figure-caption {
    padding: 16px 8px 8px;
    color: var(--quote-color);
    text-align: justify;
    font-size: 15px;
    line-height: 1.2em;
}

p {
    text-align: justify;
    line-height: 1.6em;
    font-size: 18px;
}

li {
    margin-bottom: 1em;
    font-size: 18px;
    line-height: 1.6em;
}

blockquote {
    margin: 16px 30px 0 10px;
    padding-left: 20px;
    border-left: 2px solid #333333;
    text-align: justify;
    color: var(--quote-color);
    line-height: 1.6em;
}

.navigator-container {
    padding: 0% 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigator-container a:link {
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    text-decoration: none;
}

.navigator-container a:visited {
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    text-decoration: none;
}

.navigator-container a:hover {
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    text-decoration: underline;
}

.navigator-container a:active {
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    text-align: center;
    font-size: var(--header-font-size);
    font-family: serif;
    margin: 16px 0px;
}

.header a:link {
    color: var(--link-color);
    text-decoration: none;
}

.header a:visited {
    color: var(--link-color);
    text-decoration: none;
}

.header a:hover {
    color: var(--link-color);
    text-decoration: none;
}

.header a:active {
    color: var(--link-color);
    text-decoration: none;
}

.table {
    display: display-box;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    margin: var(--content-vertical-margin) auto;
    box-shadow: 2px 2px 8px #000000;
}

.table tr:nth-child(even) {
    background-color: var(--table-striped-color);
}

.table th {
    padding: .75rem;
    border: 1px solid var(--table-border-color);
}

.table td {
    padding: .75rem;
    border: 1px solid var(--table-border-color);
}

.full-img {
    width: 50%;
    height: 50%;
}


div.project-container {

}

div.project-container div:nth-child(even) {
    margin-left: 5%;
    border-left: 32px solid var(--nav-link-color);
}

.project-card {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--table-border-color);
    box-shadow: 4px 4px 12px #000000;
    margin-bottom: 32px;
    padding: 8px 16px 8px;
}

.project-card img {
    width: 256px;
    height: 256px;
}

.divider {
    margin: 32px auto 16px;
    border-top: 1px solid #333333;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background: #fac73a;
    border-radius: 1px;
}